


:root {
    --primeira-cor:rgb(40, 206, 192);
    --segunda-cor: rgb(85, 170, 85);
    --terceira-cor: rgb(9, 9, 156);
    --quarta-cor: black;
    --quinta-cor: white; 
    --sexta-cor: rgb(100, 42, 42);   
    --cor-destaque:rgb(25, 8, 65);
    --fonte-titulo: Helvetica, sans-serif;
    --fonte-body: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: var(--primeira-cor);
    color: var(--terceira-cor);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--quinta-cor);
    max-width: 100%;
    
    
}

header a {
    display: flex;
    flex-direction: column;
}

header img {
    margin-right: 3.5rem;
}



body {
    
    font-family: var(--fonte-body);
    color: var(--cor-destaque);
   
    
}

.conteiner{
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0rem 2rem 0rem;
    
    
}

.conteiner img {
    width: 20rem;
    justify-self: center;
    border: 0.1rem solid var(--sexta-cor);
    box-shadow: 0 0 10px var(--primeira-cor)
    
}

.titulo-historia{
    padding: 2rem 3rem 2rem 3rem;
}



h1, h2{
    font-family: var(--fonte-titulo);
    color: var(--cor-destaque);
    text-align: center;
    
}

h1 {
    font-size: 2.4rem;
}

nav, p, section, article {
    margin: 0px;
    padding: 8px;
    
}


nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    

}



.hero {
    position: relative; 
    color: var(--quarta-cor);
  
}

.hero img {
    display: block;
    width: 1200px;
    height: 780px;
    margin: 1rem 4rem;
    
    
}

.hero h1 {
    position: absolute;
    top: 90px;
    left: 64px;
    right: 50px;
    transform: translateY(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--segunda-cor);
    color: var(--quarta-cor)
    
    
}

.hero article img {
    width: 200px;
    height: auto;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 30px var(--cor-destaque);
    
}


article p {
    font-size: 20px;
}


.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    width: 950px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--primeira-cor);
    gap: 2rem;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.9;
    
}



footer {
    background-color: var(--primeira-cor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-weight: 700;
    margin: 0;
    text-align: center;
    
   
}



section{
    background-color: var(--segunda-cor);
    text-align: justify;
    
}

.redes-sociais {
   position: absolute;
   right: 20px;
   display: flex;
   gap: 10px;
   align-items: center;


}

.redes-sociais img {
    width: 2rem;
    
}

.imagens-mini {
    
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 3rem 0rem;
    

}

.imagens-mini h2 {
    width: 100%;
}

.imagens-mini img {
    width: 13rem;
    display: flex;
    border: 0.1rem solid var(--cor-destaque);
    box-shadow: 0 0 30px var(--sexta-cor) ;
}

ul {
    list-style-position: inside;
    display: flex;
    list-style: none;
    
}








