


:root {
    --primeira-cor:rgb(40, 206, 192);
    --segunda-cor: rgb(85, 170, 85);
    --terceira-cor: rgb(10, 48, 73);
    --quarta-cor: black;
    --quinta-cor: rgb(178, 226, 210); 
    --sexta-cor: rgb(100, 42, 42);  
    --oitava-cor: rgb(44, 22, 9); 
    --nona-cor: rgb(197, 233, 200);
    --decima-cor: rgb(125, 196, 59);
    --decima-primeira-cor: #7ac695;
    --decima-segunda-cor: rgb(211, 137, 40);
    --cor-destaque:rgb(25, 8, 65);
    --cor-clara: rgb(159, 209, 112);
    --fonte-titulo: Helvetica, sans-serif;
    --fonte-body: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: var(--primeira-cor);
    color: var(--cor-destaque);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--quinta-cor);
    max-width: 100%;
   
    
}

header a {
    display: flex;
    flex-direction: column;
}

header img {
    margin-right: 3.5rem;
}



body {
    
    font-family: var(--fonte-body);
    color: var(--cor-destaque);
    background-color: var(--quinta-cor);
   
    
}

main {
    margin-top: 0.8rem;
    
}

.conteiner{
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0rem 2rem 0rem;
    
    
}

.conteiner img {
    width: 20rem;
    justify-self: center;
    border: 0.1rem solid var(--sexta-cor);
    box-shadow: 0 0 10px var(--primeira-cor)
    
}

.titulo-historia {
    padding: 2rem 3rem 2rem 3rem;
}



h1, h2{
    font-family: var(--fonte-titulo);
    color: var(--cor-destaque);
    text-align: center;
    
}

h1 {
    font-size: 2.4rem;
}

nav, p, section, article {
    margin: 0px;
    padding: 8px;
    
}


nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    

}



.hero {
    position: relative; 
    color: var(--quarta-cor);
  
}

.hero img {
    display: block;
    width: 100%;
    height: 780px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
    
}

.hero h1 {
    position: absolute;
    top: 90px;
    left: 64px;
    right: 50px;
    transform: translateY(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--segunda-cor);
    color: var(--quarta-cor)
    
    
}

.hero article img {
    width: 200px;
    height: auto;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 30px var(--cor-destaque);
    
}


article p {
    font-size: 20px;
}


.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    width: 950px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--decima-primeira-cor);
    gap: 2rem;
    padding: 49px;
    border-radius: 20px;
    opacity: 0.9;
    
}

.hero article.sobre-imagem {
   
    flex-direction: row-reverse;
   
}


footer {
    background-color: var(--primeira-cor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-weight: 700;
    margin: 0;
    text-align: center;
    
   
}



section{
    background-color: var(--segunda-cor);
    text-align: justify;
    
}

.redes-sociais {
   position: absolute;
   right: 20px;
   display: flex;
   gap: 10px;
   align-items: center;


}

.redes-sociais img {
    width: 2rem;
    
}

.imagens-mini {
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 3rem 0rem;
    

}

.imagens-mini h2 {
    width: 100%;
    padding-bottom: 2rem;   
}

.imagens-mini img {
    
    width: 13rem;
    height: 8rem;
    object-fit: cover;
    border: 0.1rem solid var(--cor-destaque);
    box-shadow: 0 0 30px var(--sexta-cor) ;
}

.imagens-mini figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 0;
}

ul {
    list-style-position: inside;
    display: flex;
    list-style: none;
    
}

figcaption {
    padding-top: 1rem;
    color: var(--oitava-cor);
    font-weight: 700;
    font-style: italic;
    
}

.contatos-one-day h1 {
    padding: 10px 30px 10px 60px;
    background-color: var(--segunda-cor);
    margin: 16px 50px 18px 50px;
    color: var(--oitava-cor);
    

    
}

.contatos-one-day p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    color: var(--cor-destaque);
}

.mapa-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    gap: 5rem;
    
}

.mapa iframe {
    border: 0;
    box-shadow: none;
}

form {

    width: 100%;
    max-width: 380px;
    margin: 0;
    border: 1px solid var(--sexta-cor);
    border-radius: 0.7rem;
    display: grid;
    gap: 1rem;
    padding: 30px;
    font-size: 15px;
    background-color: var(--nona-cor);
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1px;
    padding: 1rem;
    border: 1px solid var(--segunda-cor);

}

.item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    margin: 0rem;
}

.item input, textarea {
    padding: 0.3rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.motivo {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 5px 8px;
    justify-content: start;
}

.motivo2, textarea {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    font-size: 1.1rem;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--sexta-cor);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-inscricao h3 {
    text-align: center;
    font-weight: normal;
    color: var(--sexta-cor);
}


.newsletter {
    text-align: center;

}

button {
    width: 140px;
    justify-self: center;
    border: 1px solid var(--sexta-cor);
    border-radius: 6px;
    padding: 0.5rem;
    background-color: var(--decima-cor);
    font-size: 0.9rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-clara);
}

input[type="radio"] {
    accent-color: var(--decima-cor)
}

input[type="checkbox"] {
    accent-color: var(--decima-cor);
}

.imagens-funcionarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 100px;
    margin-bottom: 15px;
    padding-bottom: 30px;
    
}

.imagens-funcionarios img {
    width: 16rem;
    height: 11rem;
    object-fit: cover;
    border: 0.1rem solid var(--cor-destaque);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--sexta-cor) ;
    
}

.imagens-funcionarios h2 {
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 10px; 
}

.imagens-funcionarios figcaption {
    text-align: center;
}

.tabela-passeios {
    margin-bottom: 1rem;
    background-color: var(--segunda-cor);
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    padding: 3rem;
}



.form-inscricao legend{
    margin-bottom: 1rem;
    align-items: flex-end;
    font-family: var(--fonte-body)

}   

.tabela-passeios img {
    display: block;
    max-width: 300px;

}

.form-inscricao {
    background-color: var(--quinta-cor);
    border: 1px solid var(--decima-segunda-cor);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.form-inscricao .name,
.form-inscricao .e-mail {
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}

.form-inscricao input {
    padding: 5px;
    border: 1px solid var(--decima-segunda-cor);
    border-radius: 7px;
}

.form-inscricao input:focus {
    border: 2px solid var(--decima-segunda-cor);
    outline: none;
}

.form-inscricao legend {
    text-align: center;
}


.form-inscricao button {
    background-color: var(--decima-segunda-cor);
    margin-left: 6rem ;
    
}

.form-inscricao button:hover {
    background-color: var(--primeira-cor);
}

.link-passeio img {
    border: 1px solid var(--cor-clara);
    border-radius: 35px;
    box-shadow: 0 0 30px var(--cor-clara);

}

.link-passeio figcaption {
    text-align: center;
    padding-bottom: 1rem;
    
}

.descricao-passeio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: start;
    margin: 0 auto;
    padding: 45px;
    
}

.descricao-passeio img,
.descricao-passeio p {
    width: 100%;
    display: block;
    
}

.descricao-passeio img {
    border: 1px solid var(--cor-clara);
    border-radius: 25px;
    box-shadow: 0 0 10px var(--sexta-cor);
    
}

.descricao-passeio figcaption {
    padding-top: 1rem;
    text-align: center;
}

.agitada {
    border: 1px solid var(--cor-clara);
    border-radius: 35px;
    padding: 1rem;
    background-color: var(--cor-clara);
    
}

.oasis {
    border: 1px solid var(--cor-clara); 
    border-radius: 35px;
    padding: 1rem;
    background-color: var(--cor-clara);
}

.easy {
    border: 1px solid var(--cor-clara);
    border-radius: 35px;
    padding: 1rem;
    background-color: var(--cor-clara);
}

.oasis img {
    height: 239px;

}

.passeios {
    padding-top: 2rem;
}

table {
    
    border-collapse: collapse;
    border-spacing: 0;
    
    
}

th, td {
    border-bottom: 1px solid var(--cor-destaque);
    letter-spacing: 1px;
    padding: 8px;
    font-size: 18px;
}

.tabela {
    background-color: #7ac695;
    display: grid;
    gap: 2rem;
    padding: 2rem 20rem 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tabela h2 {
    font-size: 30px;
    color: var(--sexta-cor);
    
}

.fale-conosco a {
    display: inline-block;
    background-color: var(--decima-segunda-cor);
    color: var(--cor-destaque);
    padding: 24px 42px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    
}

.fale-conosco {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    margin-top: 2rem;
    
}

.duas-imagens ul {
    list-style-type: disc;
    padding-left: 20px;
    display: block;
}

.promocao {
    background-color: var(--segunda-cor);
    display: grid;
    margin-bottom: 1rem;
    padding: 2rem;
    justify-items: center;
    
}

.promocao h1, h2 {
    padding: 15px;
}

.promocao h1 {
    color: var(--nona-cor);
    background-color: #C72B32;
    margin-left: 15rem;
    margin-right: 15rem;
}

.promocao img {
    border-radius: 15px;
    box-shadow: 0 0 10px var(--decima-segunda-cor);
}

.ofertas {
    display: grid;
    gap: 60px;
    padding: 0 40px 45px;
    margin-bottom: 1rem;
    background-color: var(--decima-primeira-cor);
    
}
 
.oferta-um,
.oferta-dois {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
    align-items: center;
}

.oferta-um img,
.oferta-dois img {
    width: 300px;
    height: auto;
    display: block;
    align-items: center;
    border: 1px solid var(--decima-segunda-cor);
    border-radius: 25px;
    box-shadow: 0 0 30px var(--sexta-cor);
   
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.oferta-um {
    display: grid   ;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    align-items: center;
    padding-top: 5rem;
    

}

.oferta-dois {
    grid-template-columns: 1fr 300px;
}

.oferta-um p {
    margin: 0;
}

.oferta-um img {
    width: 300px;
    height: auto;
  
   
    
}



    



























