


:root {
    --primeira-cor:rgb(40, 206, 192);
    --segunda-cor: rgb(85, 170, 85);
    --terceira-cor: rgb(8, 8, 141);
    --quarta-cor: black;
    --quinta-cor: rgb(178, 226, 210); 
    --sexta-cor: rgb(100, 42, 42);  
    --oitava-cor: rgb(44, 22, 9); 
    --nona-cor: rgb(197, 233, 200);
    --decima-cor: rgb(125, 196, 59);
    --cor-destaque:rgb(25, 8, 65);
    --cor-clara: rgb(159, 209, 112);
    --fonte-titulo: Helvetica, sans-serif;
    --fonte-body: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: var(--primeira-cor);
    color: var(--terceira-cor);
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--quinta-cor);
    max-width: 100%;
    
    
}

header a {
    display: flex;
    flex-direction: column;
}

header img {
    margin-right: 3.5rem;
}



body {
    
    font-family: var(--fonte-body);
    color: var(--cor-destaque);
    background-color: var(--quinta-cor);
   
    
}

.conteiner{
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0rem 2rem 0rem;
    
    
}

.conteiner img {
    width: 20rem;
    justify-self: center;
    border: 0.1rem solid var(--sexta-cor);
    box-shadow: 0 0 10px var(--primeira-cor)
    
}

.titulo-historia{
    padding: 2rem 3rem 2rem 3rem;
}



h1, h2{
    font-family: var(--fonte-titulo);
    color: var(--cor-destaque);
    text-align: center;
    
}

h1 {
    font-size: 2.4rem;
}

nav, p, section, article {
    margin: 0px;
    padding: 8px;
    
}


nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    

}



.hero {
    position: relative; 
    color: var(--quarta-cor);
  
}

.hero img {
    display: block;
    width: 1200px;
    height: 780px;
    margin: 1rem 4rem;
    
    
}

.hero h1 {
    position: absolute;
    top: 90px;
    left: 64px;
    right: 50px;
    transform: translateY(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--segunda-cor);
    color: var(--quarta-cor)
    
    
}

.hero article img {
    width: 200px;
    height: auto;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 30px var(--cor-destaque);
    
}


article p {
    font-size: 20px;
}


.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    width: 950px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: var(--primeira-cor);
    gap: 2rem;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.9;
    
}



footer {
    background-color: var(--primeira-cor);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    font-weight: 700;
    margin: 0;
    text-align: center;
    
   
}



section{
    background-color: var(--segunda-cor);
    text-align: justify;
    
}

.redes-sociais {
   position: absolute;
   right: 20px;
   display: flex;
   gap: 10px;
   align-items: center;


}

.redes-sociais img {
    width: 2rem;
    
}

.imagens-mini {
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    padding: 1rem 0rem 3rem 0rem;
    

}

.imagens-mini h2 {
    width: 100%;
    padding-bottom: 2rem;   
}

.imagens-mini img {
    
    width: 13rem;
    height: 8rem;
    object-fit: cover;
    border: 0.1rem solid var(--cor-destaque);
    box-shadow: 0 0 30px var(--sexta-cor) ;
}

.imagens-mini figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 0;
}

ul {
    list-style-position: inside;
    display: flex;
    list-style: none;
    
}

figcaption {
    padding-top: 1rem;
    color: var(--oitava-cor);
    font-weight: 700;
    font-style: italic;
    
}

.contatos-one-day h1 {
    padding: 10px 30px 10px 60px;
    background-color: var(--segunda-cor);
    margin: 16px 50px 18px 50px;
    color: var(--oitava-cor);
    

    
}

.contatos-one-day p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 700;
    color: var(--cor-destaque);
}

.mapa-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    gap: 5rem;
    
}

form {

    width: 100%;
    max-width: 380px;
    margin: 0;
    border: 1px solid var(--sexta-cor);
    border-radius: 0.7rem;
    display: grid;
    gap: 1rem;
    padding: 30px;
    font-size: 15px;
    background-color: var(--nona-cor);
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1px;
    padding: 1rem;
    border: 1px solid var(--segunda-cor);

}

.item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 0.3;
    margin: 0rem;
}

.item input, textarea {
    padding: 0.3rem;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.motivo {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 5px 8px;
    justify-content: start;
}

.motivo2, textarea {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
}

legend {
    font-size: 1.1rem;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--sexta-cor);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.newsletter {
    text-align: center;

}

button {
    width: 140px;
    justify-self: center;
    border: 1px solid var(--sexta-cor);
    border-radius: 6px;
    padding: 0.5rem;
    background-color: var(--decima-cor);
    font-size: 0.9rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-clara);
}

input[type="radio"] {
    accent-color: var(--decima-cor)
}

input[type="checkbox"] {
    accent-color: var(--decima-cor);
}

.imagens-funcionarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 100px;
    margin-bottom: 15px;
    padding-bottom: 30px;
    
}

.imagens-funcionarios img {
    width: 16rem;
    height: 11rem;
    object-fit: cover;
    border: 0.1rem solid var(--cor-destaque);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--sexta-cor) ;
    
}

.imagens-funcionarios h2 {
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 10px; 
}

.imagens-funcionarios figcaption {
    text-align: center;
}

















