*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
    
    font-size: 1rem;
    color: black;
    background: rgb(150, 204, 119);
}

header {
    padding: 2rem ;
    align-items: center;
    color: rgb(73, 42, 17);
    text-align: center;
}

form {
    width: 500px;
    text-align: center;
    margin: 0;
    padding: 1.7rem;
    border: 1px solid rgb(224, 223, 235);
    border-radius: 0.7rem;
    background-color: aliceblue;
    display: grid;
    padding-right: 33rem;

}

main {
    display: flex;
    justify-content: center;
    color: rgb(73, 42, 17);

}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(9, 133, 75); 
    padding: 1.6rem;
}

legend {
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: rgb(153, 98, 62);
    font-size: 1.3rem;
    
}


label, input, button, select, textarea {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}


label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.4rem;
    font-size: 1.1rem;    
}

input{
    padding-left: 6rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    
}

button {
    width: 150px;
    justify-self: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0.6rem;
    background-color: rgb(150, 204, 119);
    
}

button:hover {
    background-color: rgb(216, 102, 27)
}

footer{
    margin: 1.3rem;
    text-align: center;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    
}

footer p {
    padding: 0.5rem;
    border-top: 1px solid rgb(73, 42, 17);
}

.item-formulario {
    display: grid;
    align-items: center;       
}

.coluna1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    
}

.coluna2 {
    grid-template-columns: 1fr 2fr;
}



